@model Refma5neo.Models.WebArticle

@{
    ViewBag.Title = "Add article";
}

<h2>Add a new article</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.langcode, new { @class = "control-label  col-md-2" })
            <div class="col-md-10">
             
                @Html.DropDownListFor(model => model.langcode, new SelectList(ViewBag.LangList, "Code", "Name", ViewBag.CurrentTargetLangId), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.langcode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.url, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.url, htmlAttributes: new { style = "width: 100%; max-width: 100%;" })
                @Html.ValidationMessageFor(model => model.url)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.title, htmlAttributes: new { style = "width: 100%; max-width: 100%;" })
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.plaintext, new { @class = "control-label col-md-2" })
           
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.plaintext, htmlAttributes: new { style = "width: 100%; max-width: 100%;" })
                @Html.ValidationMessageFor(model => model.plaintext)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
